body{
 user-select:none;
 -moz-user-select:none;
 margin:5px;
}
h1{
 display:none;
}
h2{
 margin:0px;
 font-size:12px;
 cursor:default;
 font-weight:normal;
}
h3{
 margin:0px;
 font-size:12px;
 cursor:default;
 font-weight:normal;
}
div{
 white-space:nowrap;
}
div.hosts{
 margin-left:5px;
}
div.urls{
 margin-left:10px;
}
a{
 display:block;
 font-size:12px;
}
.loading{
 font-size:10px;
}
.focus{
 background:#004488;
 color:white;
}
